@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    /*background:
            linear-gradient(217deg, rgba(174, 0, 1,.8), rgba(174, 0, 1,0) 70%),
            linear-gradient(127deg, rgba(255, 151, 0,.8), rgba(255, 151, 0,0) 70%),
            linear-gradient(336deg, rgba(254, 189, 1,.8), rgba(254, 189, 1,0) 70%);*/
}

.user .navbar-nav {
    flex-direction: row;
}

.main{
    /*display: inline-block;*/
    /*width: 100%;*/
    /*margin: 0 auto;*/
    /*text-align: center;*/
    /*background: white;*/
}
