{% extends "inventory_base.html" %}


{% block title %} {{title}} {% endblock title %}


{% block content %}

    <form method="post">
        
        {% csrf_token %}
        
        <fieldset class="form-group">
            <div style="color:#ea2088; font-style: bold; font-size: 3rem; border-bottom: 1px solid white;">작품 삭제</div> <br>
            <h2>정말 "{{ art.title }}" 작품을 삭제하시겠습니까?</h2>
        </fieldset>

        <div class="form-group">  
            <button type="submit" class="btn ghost-red">삭제</button>
            <a href="{% url 'inventory_list' %}" class="btn ghost-button">취소</a>
        </div>
        
    </form>

{% endblock content %}