{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">


    <h3>작품 목록</h3>

    <form class="d-flex search mt-5" role="search" method="get" action="{% url 'sale:art' %}">
        <input name="q" class="form-control me-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
    </form>

    <div class="works my-5" id="ads">

        {% for art in object_list %}
            {% if art.quantity == 0 %}
                <div class="card rounded" style="cursor:pointer;">
                    <div class="card-image text-center">
                        <img class="img-fluid p-1"
                             src="{{ art.art.url }}"
                             alt="Alternate Text"/>
                    </div>
                    <div class="card-body text-center">
                        <div class="card-title m-auto">
                            <h5 class="title">{{ art.title }}</h5>
                            <h6 class="author">{{ art.artist }}</h6>
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <span class="card-detail-badge workId">{{ art.art_id }}</span>
                        <span class="card-detail-badge count">{{ art.quantity }}</span>
                        <span class="card-detail-badge amount">&#8361;{{ art.price }}</span>
                    </div>
                    <div class="sold-content rounded">
                        <h2 class="text">Sold out</h2>
                    </div>
                </div>
            {% else %}
            <div class="card rounded" onclick="location.href='{% url 'sale:sale' art.art_id %}'" style="cursor:pointer;">
                <div class="card-image text-center">
                    <img class="img-fluid p-1"
                         src="{{ art.art.url }}"
                         alt="Alternate Text"/>
                </div>
                <div class="card-body text-center">
                    <div class="card-title m-auto">
                        <h5 class="title">{{ art.title }}</h5>
                        <h6 class="author">{{ art.artist }}</h6>
                    </div>
                </div>
                <div class="card-body text-center">
                    <span class="card-detail-badge workId">{{ art.art_id }}</span>
                    <span class="card-detail-badge count">{{ art.quantity }}</span>
                    <span class="card-detail-badge amount">&#8361;{{ art.price }}</span>
                </div>
            </div>
            {% endif %}
        {% endfor %}

    </div>
</div>

{% endblock content %}

{% block pagination %}
<ul class="pagination justify-content-center mb-4">
    {% if page_obj.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&larr;</a>
    </li>
    {% else %}
        <li class="page-item disabled">
        <a class="page-link" href="#">&larr;</a>
    </li>
        {% endif %}

    {% for index in pagelist %}
        {% if index == page_obj.number %}
    <li class="page-item active">
        <span class="page-link">{{ index }}</span>
    </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ index }}">{{ index }}</a>
        </li>
        {% endif %}
    {% endfor %}

        {% if page_obj.has_next %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">&rarr;</a>
    </li>
        {% else %}
        <li class="page-item disabled">
        <a class="page-link" href="#">&rarr;</a>
    </li>
        {% endif %}
</ul>
{% endblock pagination %}