{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

    <form method="post" action="">
    {% csrf_token %}
    {% for art in art %}
    <div class="work mt-5">
        <div class="work-header">
            <h2 class="">{{ art.artist }} - {{ art.title }}</h2>
        </div>

        <hr/>

        <div class="row work-body justify-content-around mt-5">

            <div class="col-5 image-container">
                <img src="{{ art.art.url }}" class="img-fluid" alt="aixcon">
            </div>

            <div class="col-5 description">

                <form class="row g-3 needs-validation" novalidate autocomplete="off">

                    <div class="col-md-12">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" id="title" value="{{ art.title }}" required disabled
                               readonly>
                    </div>

                    <div class="col-md-12 mt-4">
                        <label for="author" class="form-label">Artist</label>
                        <input type="text" class="form-control" id="author" value="{{ art.artist }}" required
                               disabled readonly>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                    <div class="col-md-12 mt-4">
                        <label for="workId" class="form-label">Work ID</label>
                        <input type="number" class="form-control" id="workId" value="{{ art.art_id }}" required disabled
                               readonly>
                    </div>

                    <div class="col-md-12 mt-4">
                        <label for="amount" class="form-label">Amount (&#8361;)</label>
                        <input type="number" class="form-control" id="amount" name="totalPrice" value="{{ art.price }}" required
                               disabled>
                    </div>

                    <div class="col-md-12 mt-4 count-container">
                        <label for="counter" class="form-label">Count</label>
                        <div class="input-group mb-3">

                            <div class="input-group-prepend">
                                <button type="button" class="btn btn-dark btn-md" id="minus-btn" disabled>
                                    <i class="bi bi-dash-lg"></i>
                                </button>
                            </div>

                            <input type="number" id="counter" class="form-control-sm text-center counter"
                                   name="purchaseQuantity" value="1" min="1" readonly/>


                            <div class="input-group-prepend">
                                <button type="button" class="btn btn-dark btn-md" id="plus-btn">
                                    <i class="bi bi-plus-lg"></i>
                                </button>
                            </div>

                            <div class="d-inline-block mt-1 ms-5">
                                <span>구매가능수량:</span>
                                <span id="availableQuantity">{{ art.quantity }}</span>
                            </div>

                        </div>
                        <div class="invalid-feedback">
                            Please provide a valid zip.
                        </div>
                    </div>


                    <div class="col-md-12 mt-4">
                        <label for="paymentId" class="form-label">Payment ID</label>
                        <!--                        <input type="number" class="form-control" id="paymentId" value="" required minlength="8" maxlength="8"-->
                        <!--                               oninput="if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>-->
                        <!--                        <input type="text" class="form-control d-inline-block" id="paymentId" value="" required minlength="8" maxlength="8"/>-->
                        <!--                        <input type="text" minlength="8" maxlength="8" id="paymentId" class="form-control"
                                                       oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                                />-->
                        <input type="text" class="form-control d-inline-block" id="paymentId" name="billNo" value="" required
                               minlength="8" maxlength="8" pattern="[0-9]+"/>
                        <div class="invalid-feedback">
                            올바른 결제 번호를 입력해주세요.
                        </div>
                    </div>

                    <div class="col-md-12 mt-4">
                        <label for="walletAddress" class="form-label">Wallet Address</label>
                        <input type="text" class="form-control d-inline-block" id="walletAddress" name="walletAddr" value="" required
                               minlength="42" maxlength="42" pattern="^[a-zA-Z0-9]+$"/>
                        <div class="input-group-prepend d-inline-block">
                            <button type="button" class="btn btn-outline-dark btn-md" id="camera-btn"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <i class="bi bi-camera"></i>
                            </button>
                        </div>

                        <div class="invalid-feedback">
                            올바른 지갑 주소를 입력해주세요.
                        </div>
                    </div>

                    <div class="col-md-12 mt-5">
                        <button class="btn btn-primary btn-lg" type="submit">Sale</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    {% endfor %}
    </form>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">QR코드를 카메라에 노출시켜 주세요</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="frame" class="text-center">
                        <div id="loadingMessage">
                            🎥 비디오 스트림에 액세스 할 수 없습니다
                        </div>
                        <canvas id="canvas"></canvas>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}
